.app {
  background-color: #e8edf2;
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 10rem;
}
.content-container {
  padding: 2rem;
  background-color: #ffffff;
  height: auto;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}
